<router-outlet></router-outlet>
<section class="footer-sec">
    <footer>
      <div class="footer-content">
          <img src="../assets/images/logo.png" style="height: 30%; width: 20%; padding-top: 5%;" alt="">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo iste corrupti doloribus odio sed!</p>
          <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2021 ChopSticks. designed by <br> <span>Aswin</span></p>
      </div>
  </footer>
  </section>