.footer-sec{
    margin-top: 100px;
}
footer{
  position: absolute;
  bottom: 100;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  font-family: 'KoHo', sans-serif;
  padding-top: 0px;
  color: #f2ae30;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
//   margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
@media screen and (max-width: 600px){

  .footer-sec{
    margin-top: 20px;
}
footer{
  position: absolute;
  bottom: 100;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  font-family: 'KoHo', sans-serif;
  padding-top: 0px;
  color: #f2ae30;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 5px auto;
  line-height: 28px;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
//   margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

}