@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
  background-image: linear-gradient(rgba(20, 22, 5, 0.493),rgba(39, 46, 9, 0.288)), url(../../assets/images/back1.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  width: 120px;
  height: 60px;
  padding-top: 10px;
  padding-left: 5px;
}
nav{
  display: flex;
  padding: 2px 6px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.315) ;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
  position: relative;

}
.nav-links ul li a{
  text-decoration: none;
  color:#f2ae30;
  font-size: 20px;
  font-family: 'KoHo', sans-serif;
}
.nav-links ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f2ae30;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;

}
.nav-links ul li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;

}
.nav-links ul li a:hover:before, .nav-links ul li a:hover:after{
  transform: scaleX(1);
}
.content{
    padding-top: 100px;
    text-align: center;
}
.content h1{
    font-family: 'KoHo', sans-serif;
    color: white;
    font-size: 65px;
}
.content p{
     font-family: 'KoHo', sans-serif;
     color: white;
     font-size: 30px;
}

.btn{
    width: 12%;
    padding: 6px;
    margin-top: 40px;
    left: 42%;
    position: absolute;
    font-family: 'KoHo', sans-serif;
    font-size: 22px;
    background: #f2ae30;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 white;

}
.menucont span{
    color: #f2ae30;
}
.menucont{
    text-align: center;
    padding-top: 30px;
}
.menucont h1{
    font-size: 50px;
    font-family: 'KoHo', sans-serif;
}
.menucont p{
    font-size: 20px;
    font-family:  'KoHo', sans-serif;
}
/////////////////////////////////////////////////////////////////////// 
.cards-sec{
    margin-top: 80px;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 30px auto;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.151), -5px -5px 30px 7px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(243, 221, 20, 0.534);
  }
  
  .card .card_image img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: -50px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: black;
  }
  ///////////////////////////////////////////////////////////////////////////////// 
//   .footer-sec{
//       margin-top: 100px;
//   }
//   footer{
//     position: absolute;
//     bottom: 100;
//     left: 0;
//     right: 0;
//     background: #111;
//     height: auto;
//     width: 100%;
//     font-family: 'KoHo', sans-serif;
//     padding-top: 40px;
//     color: #f2ae30;
// }
// .footer-content{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     text-align: center;
// }
// .footer-content h3{
//     font-size: 1.8rem;
//     font-weight: 400;
//     text-transform: capitalize;
//     line-height: 3rem;
// }
// .footer-content p{
//     max-width: 500px;
//     margin: 10px auto;
//     line-height: 28px;
//     font-size: 14px;
// }
// .socials{
//     list-style: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 1rem 0 3rem 0;
// }
// .socials li{
//     margin: 0 10px;
// }
// .socials a{
//     text-decoration: none;
//     color: #fff;
// }
// .socials a i{
//     font-size: 1.1rem;
//     transition: color .4s ease;

// }
// .socials a:hover i{
//     color: aqua;
// }

// .footer-bottom{
//     background: #000;
//     width: 100%;
//     padding: 20px 0;
//     text-align: center;
// }
// .footer-bottom p{
//     font-size: 14px;
//     word-spacing: 2px;
//     text-transform: capitalize;
// }
// .footer-bottom span{
//     text-transform: uppercase;
//     opacity: .4;
//     font-weight: 200;
// }
//////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width: 934px){

.btn{
    width: 14%;
    padding: 6px;
    margin-top: 40px;
    left: 42%;
    position: absolute;
    font-family: 'KoHo', sans-serif;
    font-size: 22px;
    background: #f2ae30;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 white;

}
.cards-sec{
    margin-top: 80px;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 30px auto;
    width: 250px;
    height: 350px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.151), -5px -5px 30px 7px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(243, 221, 20, 0.534);
  }
  
  .card .card_image img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: -50px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: black;
  }
}

////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width: 600px){
  .wrapper{
    height: 70vh;
  }
  .nav-links ul{
    padding: 20px 20px;
  }
  .nav-links ul li a{
    text-decoration: none;
    color: rgb(241, 172, 42);
    font-size: 20px;
    font-family: 'KoHo', sans-serif;
  }
  .nav-links ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(241, 172, 42);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
  
  }
  .nav-links ul li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
  }
  .nav-links ul li a:hover:before, .nav-links ul li a:hover:after{
    transform: scaleX(1);
  }.content{
      padding-top: 100px;
      text-align: center;
  }
  
  .logo{
    width: 80px;
    height: 40px;
}
nav{
    background: rgba(0, 0, 0, 0.384);

}
.nav-links ul li{
    display: block;
}
.nav-links {
  position: absolute;
  top: 9%;
  right: 0%;
  height: 35%;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.966);
  overflow-x: hidden;
  z-index: 2;
  width: 150px;
  flex: 1;
  text-align: right;
}
.menu-toggle {
  // background: black;
  position: absolute;
  padding: 1em;
  top: 2%;
  right: 6%;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: white;
  height: 3px;
  width: 1.3em;
  border-radius: 3px;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
.hide {
  display: none;
}

.content{
    padding-bottom: 150px;
}
.content h1{
    font-size: 35px;
}
.content p{
    font-size: 16px;
}
.btn{
    width: 30%;
    padding: 6px;
    margin-top: 30px;
    left: 35%;
    position: absolute;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    background: #f2ae30;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 white;

}
.banner{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(20, 22, 5, 0.329),rgba(39, 46, 9, 0.247)),url(../../assets/images/back1.jpg);
    background-size: cover;
}

.menucont span{
    color: #f2ae30;
}
.menucont{
    text-align: center;
    padding-top: 25px;
}
.menucont h1{
    font-size: 35px;
    font-family: 'KoHo', sans-serif;
}
.menucont p{
    font-size: 12px;
    font-family:  'KoHo', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
////////////////////////////////////////////////////////////////////////////////// 
.cards-sec{
    margin-top: 40px;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 30px auto;
    width: 200px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.151), -5px -5px 30px 7px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.39);
  }
  
  .card .card_image img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: -35px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: black;
  }
  ///////////////////////////////////////////////////////////////////////////// 
//   .footer-sec{
//     margin-top: 100px;
// }
// footer{
//   position: absolute;
//   bottom: 80;
//   left: 0;
//   right: 0;
//   background: #111;
//   height: auto;
//   width: 100%;
//   font-family: 'KoHo', sans-serif;
//   padding-top: 40px;
//   color: #f2ae30;
// }
// .footer-content{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   text-align: center;
// }
// .footer-content h3{
//   font-size: 1.8rem;
//   font-weight: 400;
//   text-transform: capitalize;
//   line-height: 3rem;
// }
// .footer-content p{
//   max-width: 500px;
//   margin: 10px auto;
//   line-height: 28px;
//   font-size: 12px;
// }
// .socials{
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 1rem 0 3rem 0;
// }
// .socials li{
//   margin: 0 10px;
// }
// .socials a{
//   text-decoration: none;
//   color: #fff;
// }
// .socials a i{
//   font-size: 1.1rem;
//   transition: color .4s ease;

// }
// .socials a:hover i{
//   color: aqua;
// }

// .footer-bottom{
//   background: #000;
//   width: 100%;
//   padding: 20px 0;
//   text-align: center;
// }
// .footer-bottom p{
//   font-size: 12px;
//   word-spacing: 2px;
//   text-transform: capitalize;
// }
// .footer-bottom span{
//   text-transform: uppercase;
//   opacity: .4;
//   font-weight: 200;
// }








}
  

  

