<header>
  <div class="wrapper">
    <nav>
       <a href=""><img class="logo" src="../../assets/images/logo.png" alt="logo"></a>
       <div class="nav-links hide" id="navs">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
       </div>
    </nav>
    <div (click)="ToggleNav()" class="menu-toggle">
      <div class="hamburger"></div>
    </div>
    <div class="content">
        <h1>Fresh and Delicious</h1>
        <p>traditional indian food to delight the whole family</p>
        <a href="" class="btn">Learn More</a>
    </div>
  </div>
</header>
<!-- <section class="ourmenu" id="ourmenu">
        <div class="menucont">
            <h1>Our Menu</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="numberofcards">
            <div class="card">
            </div>
            <div class="breakfast">
                <a href="#" class="btn1">Break Fast</a>
            </div>
        </div>
</section> -->
<section class="ourmenu" id="ourmenu">
    <div class="menucont">
        <h1>Our <span>M</span>enu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="cards-sec">
      <div class="card 1">
        <div class="card_image"><a [routerLink]="['/breakfast']" routerLinkActive="router-link-active"> <img src="../../assets/images/card.jpg"> </a></div>
        <div class="card_title title-white">
          <p>BreakFast</p>
        </div>
      </div>
      <div class="card 1">
        <div class="card_image"><a [routerLink]="['/lunch']" routerLinkActive="router-link-active"> <img src="../../assets/images/card2.jpg"></a> </div>
        <div class="card_title title-white">
          <p>Lunch</p>
        </div>
      </div>
      <div class="card 1">
        <div class="card_image"><a [routerLink]="['/dinner']" routerLinkActive="router-link-active"> <img src="../../assets/images/card3.jpg"></a> </div>
        <div class="card_title title-white">
          <p>Dinner</p>
        </div>
      </div>
    </div>
</section>

<!-- <section class="footer-sec">
  <footer>
    <div class="footer-content">
        <h3>Chop Sticks</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo iste corrupti doloribus odio sed!</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 ChopSticks. designed by <br> <span>augustus solutions</span></p>
    </div>
</footer>
</section> -->





    
