*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
  background-image: linear-gradient(rgba(30, 31, 28, 0.719),rgba(39, 46, 9, 0.288)), url(../../assets/images/breakfastbg.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  width: 120px;
  height: 60px;
  padding-top: 10px;
  padding-left: 5px;
}
nav{
    display: flex;
    padding: 2px 6px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.315) ;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
  
  }
  .nav-links ul li a{
    text-decoration: none;
    color:#f2ae30;
    font-size: 20px;
    font-family: 'KoHo', sans-serif;
  }
  .nav-links ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f2ae30;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
  
  }
  .nav-links ul li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orange;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
  
  }
  .nav-links ul li a:hover:before, .nav-links ul li a:hover:after{
    transform: scaleX(1);
  }
  .menucont span{
    color: #f2ae30;
}
.menucont{
    text-align: center;
    padding-top: 30px;
}
.menucont h1{
    font-size: 50px;
    font-family: 'KoHo', sans-serif;
}
.menucont p{
    font-size: 20px;
    font-family:  'KoHo', sans-serif;
}
.logohero{
  width: 10%;
  height: 5%;
  padding-top: 10%;
}
.herocont{
  text-align: center;
  font-family:  'KoHo', sans-serif;
  color: white;
}
.dinnercont h1{
  font-size: 55px;
  padding-top: 2%;
}
.dinnercont p{
  font-size: 25px;
}

.menucards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px;
}
.single-menu{
  flex-basis: 580px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.single-menu:nth-child(7), .single-menu:nth-child(8){
  border-bottom: 0;
}
.single-menu img{
  width: 50%;
  height: 80%;
  margin-right: 4%;
  border-radius: 5px;
}
.single-menu h4{
  text-transform: capitalize;
  font-size: 22px;
  // border-bottom: 1px dashed #f2ae30;
  // border-bottom: 5px;
  // padding-bottom: 5px;
}
.single-menu p{
  padding-top: 3%;
  font-size: 14px;
}
.single-menu h4 span{
  float: right;
  color: #f2ae30;
}

  ////////////////////////////////////////////////////////////////////////////// 
  @media screen and (max-width: 600px){

    .wrapper{
      height: 70vh;
    }
    .nav-links ul{
      padding: 20px 20px;
    }
    .nav-links ul li a{
      text-decoration: none;
      color: rgb(241, 172, 42);
      font-size: 20px;
      font-family: 'KoHo', sans-serif;
    }
    .nav-links ul li a:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgb(241, 172, 42);
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.5s;
    
    }
    .nav-links ul li a:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
      transform: scaleX(0);
      transform-origin: right;
      transition: all 0.5s;
    }
    .nav-links ul li a:hover:before, .nav-links ul li a:hover:after{
      transform: scaleX(1);
    }.content{
        padding-top: 100px;
        text-align: center;
    }
    
    .logo{
      width: 80px;
      height: 40px;
  }
  nav{
      background: rgba(0, 0, 0, 0.384);
  
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links {
    position: absolute;
    top: 9%;
    right: 0%;
    height: 35%;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.966);
    overflow-x: hidden;
    z-index: 2;
    width: 150px;
    flex: 1;
    text-align: right;
  }
  .menu-toggle {
    // background: black;
    position: absolute;
    padding: 1em;
    top: 2%;
    right: 6%;
    cursor: pointer;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: white;
    height: 3px;
    width: 1.3em;
    border-radius: 3px;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  .hide {
    display: none;
  }
  
    
.dinnercont h1{
  font-size: 35px;
  padding-top: 5%;
}
.dinnercont p{
  font-size: 15px;
}
.logohero{
  width: 25%;
  height: 20%;
  padding-top: 30%;
}
.menucont{
  text-align: center;
  padding-top: 30px;
}
.menucont h1{
  font-size: 30px;
  font-family: 'KoHo', sans-serif;
}
.menucont p{
  font-size: 12px;
  font-family:  'KoHo', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}
.menucards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px;
  font-family: 'KoHo', sans-serif;
}
.single-menu{
  flex-basis: 580px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.single-menu:nth-child(7), .single-menu:nth-child(8){
  border-bottom: 0;
}
.single-menu img{
  width: 100%;
  height: 100%;
  margin-right: 4%;
  border-radius: 5px;
}
.single-menu h4{
  text-transform: capitalize;
  font-size: 22px;
  // border-bottom: 1px dashed #f2ae30;
  // border-bottom: 5px;
  // padding-bottom: 5px;
}
.single-menu p{
  padding-top: 3%;
  font-size: 14px;
}
.btn {
  padding: 3px 10px;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 300px;
  text-align: center;
  background: #f2ae30;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 40%;
}

  }