<header>
    <div class="wrapper">
      <nav>
         <a href=""><img class="logo" src="../../assets/images/logo.png" alt="logo"></a>
         <div class="nav-links hide" id="navs">
              <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
              </ul>
         </div>
      </nav>
      <div (click)="ToggleNav()" class="menu-toggle">
        <div class="hamburger"></div>
      </div>
      <div class="herocont">
        <img class="logohero" src="../../assets/images/logo.png" alt="">
        <div class="dinnercont">
          <h1>Dinner</h1>
          <p>The dinner hour is a sacred, happy time when everyone should be together and relaxed.</p>
        </div>
      </div>
</div>
</header> 
<section class="ourmenu" id="ourmenu">
    <div class="menucont">
        <h1>Our <span>M</span>enu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="menucards">
    <div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div>
    <div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div><div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div>
    <div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div>
    <div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div>
    <div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div>
    <div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div>
    <div class="single-menu">
      <img src="../../assets/images/card3.jpg" alt="">
      <div class="bfmenucont">
        <h4>Ven Pongal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <span>₹ 45</span><a href="#" class="btn">Add Cart</a>
      </div>
    </div>
  </div>
</section>
 